/* Put your code here */
.grid {
	display: grid;
	grid-template: repeat(2, 5rem) / repeat(3, 9rem);
	grid-gap: .5rem;	
	width: 34rem;
	height: 14rem;	
	background: lightgrey;
}

.grid-item {
	background-color: lightblue;
	padding: 15px;
}

.grid > div:nth-child(1) {
	align-self: center;
	justify-self: center;
}

.grid > div:nth-child(2) {
	align-self: stretch;
	justify-self: end;
}

.grid > div:nth-child(3) {
	align-self: center;
	justify-self: stretch;
	text-align: center;
}

.grid > div:nth-child(4) {
	align-self: start;
	justify-self: end;
}

.grid > div:nth-child(5) {
	align-self: end;
	justify-self: center;
}

.grid > div:nth-child(6) {
	align-self: stretch;
	justify-self: center;
}